{% extends "base.html" %}
{% block css %}
    <link href="/static/css/customer.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    {% if "customer_id" not in data %}
    <div>
        <b id="header-message">Please provide details to begin chatting with one of our agents.</b>
        <hr />
        <br />
        <form id="details">
            <fieldset>
                <p>
                    <label>Name:</label><br />
                    <input type="text" name="name" id="name" placeholder="Please type your name here." required>
                </p>
                <p>
                    <label>Email:</label><br />
                    <input type="text" id="email" name="email" placeholder="Please type your email here." required>
                </p>
                <button type="submit">Submit</button>
            </fieldset>
        </form>
        <div id="details-loader"></div>
    </div>
    {% endif %}
    <div id="chat-box">
        <div id="messages">
            <p id="loader">Loading.......</p>
        </div>
        <br />
        <div id="message-input-form">
            <form>
                <fieldset>
                    <input style="height:25px;"
                           type="text" placeholder="Please type your message here." size="40" required />
                    <button type="submit">Send</button> &nbsp;
                    <button id="customer-logout" type="button">Close chat!</button>
                </fieldset>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        function setup_receive_message(socket) {
            // handle "receive_message"
            socket.on("receive_message", function(payload) {
                let data = payload["data"];
                let message = $("<div>").html(`<b>${data["name"]}:</b> ${data["message"]}`);
                $("#messages").append(message);
                $("#loader").hide();
            });
        }

        function begin_customer_handshake(socket) {
            // initiate agent handshake.
            socket.emit("customer_handshake", {
                "event_type": "customer_handshake",
                "data": {
                    "user_id": data["user_id"],
                    "conversation_id": data["conversation_id"]
                }
            }, function(response) {
                console.log(response);
            });
        }

        function setup_socket_object() {
            let socket = io("ws://localhost:5000", {transports: ['websocket']});
            return socket;
        }

        let data = {{data | tojson | safe}};
        let user_id = null, conversation_id = null, name = null;

        // create a socket connection.
        let socket = null;

        $(document).ready(function() {
            $("form#details").submit(function(event) {
                event.preventDefault();
                $("#details-loader").html("Initiating conversation....");
                $("#details fieldset").prop("disabled", true);

                name = $("#name").val();
                let email = $("#email").val();

                // construct the payload and create a conversation object.
                $.ajax({
                    "url": "/api/customers",
                    "type": "post",
                    "dataType": "json",
                    "contentType": "application/json",
                    "data": JSON.stringify({"name": name, "email": email})
                }).done(function(data) {
                    user_id = data["user_id"];
                    socket = setup_socket_object();
                    setup_receive_message(socket);
                    socket.emit(
                        "start_conversation",
                         {
                            "user_id": user_id,
                             "is_customer": true
                         },
                         function(response) {
                            conversation_id = response["conversation_id"];
                            $("#details-loader").hide();
                            $("#details").hide();
                            $("#details fieldset").prop("disabled", false);
                            $("#chat-box").show();
                            $("#loader").text("Searching for agent.....");
                         });
                });
            });
            if(data.hasOwnProperty("user_id")) {
                user_id = data["user_id"];
                conversation_id = data["conversation_id"];
                name = data["name"];

                socket = setup_socket_object();
                setup_receive_message(socket);
                begin_customer_handshake(socket);

                $("#details-loader").hide();
                $("#details").hide();
                $("#message-input-form fieldset").prop("disabled", true);
                $("#loader").text("Loading messages.....");
                $("#chat-box").show();

                // load old messages.
                let promise = fetch(`/api/conversations/${data["conversation_id"]}/messages`, {
                    method: "GET",
                    credentials: "include"
                });
                promise.then(function(response) {
                    return response.json();
                })
                .then(function(json) {
                    let messages = [];
                    for(let i = 0; i < json["items"].length; i++) {
                        let message = $("<div>").html(`<b>${json["items"][i]["name"]}:</b> &nbsp; ${json["items"][i]["text"]}`);
                        messages.push(message)
                    }
                    $("#messages").html(messages);
                    $("#message-input-form fieldset").prop("disabled", false);
                    $("#chat-box").show();
                })
                .catch(function(error) {
                    console.log(error);
                });
            }
            $("#message-input-form form").submit(function(event) {
                event.preventDefault();
                let $message = $("#message-input-form input");
                socket.emit("send_message", {
                    "event_type": "send_message",
                    "data": {
                        "message": $message.val(),
                        "conversation_id": conversation_id,
                        "user_id": user_id,
                        "is_customer": true
                    }
                }, function(response) {
                    if(response) {
                        // add user message.
                        let data = response.data;
                        let message = $("<div>").html(`<b>${name}:</b> ${data["message"]}`);
                        $("#messages").append(message);
                        $message.val("");
                        $message.focus();
                    }
                });
            });
            $("#customer-logout").click(function(event) {
                event.preventDefault();
                $("#message-input-form fieldset").prop("disabled", true);
                // simulate clicking on customer-logout button.
                window.location.href = "{{customer_logout_link}}";
            });
        });
    </script>
{% endblock %}