{% extends "base.html" %}
{% block css %}
    <link href="/static/css/signup.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div>
    <p><b>New Agent ?</b> Please click here for sign up: <a href="{{sign_up_link}}">Sign Up</a></p>
    <hr />
    <br />
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form id="login-form" action="{{action}}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset>
            <p>
                {{form.email.label}} <br />
                {{form.email(size=32, placeholder="Please type your email here.")}}
            </p>
            <p>
                {{form.password.label}} <br />
                {{form.password(size=32, placeholder="Please enter a password.")}}
            </p>
            {{form.submit()}}
        </fieldset>
    </form>
</div>
{% endblock %}